<mat-toolbar color="primary">
  <span>MyApp</span>
  <button mat-icon-button routerLink="/reward"  *ngIf="authService.isLoggedIn">
    <mat-icon>redeem</mat-icon>
  </button>
  <button mat-icon-button routerLink="/admin"  *ngIf="authService.isLoggedIn">
    <mat-icon>admin_panel_settings</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button routerLink="/login" *ngIf="!authService.isLoggedIn">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button routerLink="/register" *ngIf="!authService.isLoggedIn">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button (click)="authService.Logout()" *ngIf="authService.isLoggedIn">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="content-container">
  <router-outlet></router-outlet>
</div>
